.content {
    grid-area: c;
    background-color: hotpink;
}

.ava {
    width: 50px;
    border: transparent;
    border-radius: 50%;
}

.tree {
    width: 1000px;
    height: 300px;
}
.item {
    color: rgba(172, 185, 53, 0.16);
}
.item img {
    width: 60px;
    height: 30px;
}
